/* 
@author Zachary Wartel

RESOURCES:

- [R1] https://css-tricks.com/expanding-images-html5/                
- [R2] http://philarcher.org/diary/2013/headingnumbers/

*/

/*   Shell Code Output  */
.File_Name
{
    font-family: "Courier", monospace;
}

/*   Code Examples (put in 1x1 table) 
table.Hide_Code_Example:target
{
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background-color: black;
}
*/

/*   Code Examples are put in small 1x1 table */
table.Code_Example
{
    width: 100%;
    background-color: black;
}

/*  Code Example Expand style when displaying at full height, instead of with scroll bar
*/
table.Expanded_Code_Example > tbody > tr > td > div
{
    width: 100%;
    height: 100% !important;
    /* overflow-y: scroll; */
}            

/*  Code Example Table Cell that contains expand button
*/
table.Code_Example > tbody > tr > td:first-child
{
    vertical-align:text-top;
    text-align : left;
    width: 25px;
    background-color: transparent;
    padding:0;
    margin:0;
}            

/* Code Example Expand style when displaying code in compact, scrollable mode.               
*/
table.Code_Example > tbody > tr > td > div
{
    width: 100%;
    overflow-y: scroll;
}

/*   Shell Code Input */
code.Shell_Code_Input
{
    font-family: "Courier", monospace;
    color: white;
}

/*   Shell Code Output  */
code.Shell_Code_Output
{
    font-family: "Courier", monospace;
    color: lightgreen;
}

/*   Shell Code Output  */
code.Shell_Code_Prompt
{
    font-family: "Courier", monospace;
    color: cyan;
}

/*  User Input Required
*/
.User_Input
{
    background-color : grey;
    font-style: italic;
    color : black;
    text-decoration: underline;
    text-decoration-style: dotted;
}

/* Names of files 
 */
span.File_Name
{
    font-family: Courier, monospace;
}

/* Name of code function names
 */
span.Function_Name
{
    font-family: Courier, monospace;
}            

/*   Comments in Shell Code
*/
span.Shell_Code_Comment
{
    font-family: Courier, monospace;
    text-align: center;
    color: pink;
    background-color: grey;
    font-style: italic;
    font-weight : bold;
    margin-bottom: 0;
    margin-top: 0;
}

/*
 *  Used to highligh revisions (updates) to instructions made after their initial publication
 *
 */
span.Updated_Text
{
    color : red; 
    background-color : yellow;
}

/*   Hierarchical List of Instructions
*/
ol.Instruction
{
    font-size: large;
    list-style-type: decimal;
}

ol.Instruction > li > ol
{
    font-size: large;
    list-style-type: lower-alpha;
}

ol.Instruction > li > ol > li > ol
{
    font-size: large;
    list-style-type: lower-roman;
}

span.Grade_Points
{
    font-weight: bold;
}
h1.Title, h2.Title, h3.Title
{
    text-align : center
}

p.Title 
{
    font-weight: bold;
    text-align: center;
    font-size: x-large;
}

p.Subtitle 
{
    font-weight: bold;
    text-align: center;
    font-size: large;
}


/* Example from http://projects.jga.me/toc/#toc3 for lib/toc.js */
#toc {
  top: 0px;
  left: 0px;
  height: 100%;
  position: fixed;
  background: #333; 
  box-shadow: inset -5px 0 5px 0px #000;
  width: 250px;
  padding-top: 20px;
  color: #fff;
  /* float:right; */
}

#toc ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#toc li {
  padding: 5px 10px;
}

#toc a {
  color: #fff;
  text-decoration: none;
  display: block;
}

#toc .toc-h2 {
  padding-left: 20px;
}

#toc .toc-h3 {
  padding-left: 40px;
}

#toc .toc-active {
  background: #336699;
  box-shadow: inset -5px 0px 10px -5px #000;              
}     
